// @import "./sass/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  background: #181720;
  opacity: 8;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="date"]::before {
    color: #999999;
    content: attr(placeholder);
  }

  input[type="date"] {
    color: #ffffff;
    width: 20px;
    background: #717177;
  }

  input[type="date"]:focus,
  input[type="date"]:valid {
    color: #666666;
  }

  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: "" !important;
  }

  .task-container {
    width: 500px;
    font-family: sans-serif;

    h3 {
      color: #b4b4b6;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 20px;
    }

    .task-container-header {
      background: transparent;
      margin-bottom: 20px;

      .task-container-heading {
        border: 0.1px solid #b4b4b6;
        background: transparent;
        opacity: 7;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
        }

        .add-icon {
          color: #e36d93;
          cursor: pointer;
          font-size: 2rem;
        }

        input {
          background: transparent;
          outline: none;
          border: none;
          width: 100%;
          color: #b4b4b6;
          font-size: 1rem;
        }
      }
    }

    .all-tasks {
      .tasks {
        display: block;

        .task {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          background: #21212b;
          border-radius: 8px;
          padding: 10px;
          color: #b4b4b6;

          .down {
            display: flex;
            align-items: center;

            .sub-task-count {
              margin-right: 10px;
              display: flex;
              align-items: center;
            }

            .due-date {
              display: flex;
              align-items: center;

              input {
                margin-right: 10px;
              }
            }
          }

          .todo-icons {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
          }

          .todo-icons-inner {
            opacity: 0;
            cursor: pointer;

            span {
              color: #89898e;
            }
          }

          .arrow {
            cursor: pointer;
            font-size: 1.5rem;
          }

          &:hover {
            .todo-icons-inner {
              opacity: 1;
            }
          }

          .edit-button {
            padding: 8px;
            cursor: pointer;
            background: #e36d93;
            border: none;
            border-radius: 5px;
            outline: none;
            font-weight: bold;
            color: white;
          }

          .left {
            display: flex;
            align-items: start;

            .edit-todo-input {
              background: transparent;
              border-radius: 8px;
              width: 100%;
              padding: 10px;
            }

            > span {
              margin-right: 8px;
            }

            h4 {
              margin: 0;
              padding: 0;
            }
          }
        }

        .add-sub-task {
          border: 0.5px solid white;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          align-items: center;
        }

        .sub-todo {
          margin: 20px 0 20px 20px;
          display: flex;
          justify-content: space-between;
          background: #21212b;
          border-radius: 8px;
          padding: 10px;

          .sub-todo-content {
            display: flex;

            span {
              margin-right: 10px;
            }
          }
        }

        .none {
          display: none;
        }
      }
    }

    .circle-icon {
      color: #e36d93;
      font-size: 1.5rem;
    }

    .completed-tasks {
      .completed-task {
        margin: 20px 0;
        display: flex;
        align-items: center;
        background: #21212b;
        border-radius: 8px;
        padding: 10px;
        color: #b4b4b6;

        span {
          margin-right: 10px;
        }

        h4 {
          text-decoration: line-through;
        }
      }
    }
  }
}
